@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=Poppins:wght@300&display=swap");
/*-==================== HEADER ====================*/
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em; }
  .navbar .brand {
    margin-top: -7px;
    color: black; }

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around; }
  .menu .menu li {
    list-style: none; }
  .menu .menu a {
    color: black;
    text-decoration: none;
    padding: 10px 20px; }
  .menu .menu .active {
    color: darkorchid; }
  .menu .menu a:hover {
    background-color: darkorchid;
    color: white;
    transition: ease-in .4s; }

/*-==================== FOOTER ====================*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: black;
  margin-top: 50vh; }
  .footer .footer__content h2 {
    font-size: 1em;
    color: #ffff; }
    .footer .footer__content h2 .footer__content h5 {
      font-size: 1em;
      justify-content: left;
      color: #ffff; }
  .footer .social__network {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
    color: #ffff; }

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box; }

body {
  background-color: #EFEDE9;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  position: relative; }

/*-==================== HEADER ====================*/
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em; }
  .navbar .brand {
    margin-top: -7px;
    color: black; }

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around; }
  .menu .menu li {
    list-style: none; }
  .menu .menu a {
    color: black;
    text-decoration: none;
    padding: 10px 20px; }
  .menu .menu .active {
    color: darkorchid; }
  .menu .menu a:hover {
    background-color: darkorchid;
    color: white;
    transition: ease-in .4s; }

/*-==================== FOOTER ====================*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: black;
  margin-top: 50vh; }
  .footer .footer__content h2 {
    font-size: 1em;
    color: white; }
    .footer .footer__content h2 .footer__content h5 {
      font-size: 1em;
      justify-content: left;
      color: white; }
  .footer .social__network {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
    color: white; }
