@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=Poppins:wght@300&display=swap');


* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

body {

    background-color: #EFEDE9;
    font-family: 'Poppins', sans-serif;;
    width: 100%;
    position: relative;
}

.wrapper {

    width: 100vw;
    height: 100vh;
    background-color: #EFEDE9;
    color: rgb(114, 104, 104);
}


/*-==================== HEADER ====================*/

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand {
    margin-top: -7px;
    color: black;
}

.menu {
    
    display: flex;
    width: 50%;
    justify-content:space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
}

.menu .active {
    color: darkorchid;
    border-radius: 5%;
}

.menu a:hover {
    background-color: darkorchid;
    color: white;
    transition: ease-in .4s;
    border-radius: 5%;
}

/*-==================== MAIN ====================*/

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
}

h1 {
    font-size: 3.2em;
    color: black;
}
.span {
    color: yellowgreen;
}

.download-cv{
    
    padding: 10px 20px;
    background-color: violet;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: white;
}

.download-cv:hover {
    background-color: greenyellow;
    box-shadow: none;
}

.main img {
    width:  350px;
    height: 350px;
    margin-left: 100px;
    z-index: 1;
}
/*-==================== CARRUSEL ====================*/

.carousel, .carousel-inner > .item > img {
    height: 60%;
    width: 60%;
    margin-left: 20%;
}

/*-==================== ABOUT ====================*/

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    align-items: center;
    color: black;
    background-color: white;
}

.about img {
    width: 55%;
    margin-left: 90px;
}

.about-info {
    grid-column: 2/10;
    padding: 4em;
}

.about-info h2 {
    font-size: 2.5em;
    color: black;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: darkorchid;
    margin-top: 10px;
    margin-bottom: 2.5em;
}

.about p {
    margin-bottom: 1em;
}

/*-==================== ABOUT PROGRESS ====================*/

.progress{
    background-color: violet;
    justify-content: flex-start;
    border-radius: 50px;
    align-items:center;
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;
}

.pro-value1{
    animation: load1 3s normal forwards ;
    border-radius: 50px;
    background-color:greenyellow ;
    height: 25px;
    width: 0;
}

.pro-value2{
    animation: load2 3s normal forwards ;
    border-radius: 50px;
    background-color:greenyellow ;
    height: 25px;
    width: 0;
}

.pro-value3{
    animation: load3 3s normal forwards ;
    border-radius: 50px;
    background-color:greenyellow ;
    height: 25px;
    width: 0;
}

.pro-value4{
    animation: load4 3s normal forwards ;
    border-radius: 50px;
    background-color:greenyellow ;
    height: 25px;
    width: 0;
}

.progress p {
    color: black;
    padding: 5px;
}

@keyframes load1 {
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}

@keyframes load2 {
    0%{
        width: 0;
    }
    100%{
        width: 75%;
    }
}

@keyframes load3 {
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}

@keyframes load4 {
    0%{
        width: 0;
    }
    100%{
        width: 65%;
    }
}

/*-==================== PORTFOLIO ====================*/

.portfolio {
    width: 100vw;
    height: 80vw;
    background-color:white;
    color: black;
}

.portfolio__heading{
    width: 100%;
    justify-content: center;
    padding: 5em;
}

.portfolio__heading h2 {
    font-size: 2.5em;
}

.portfolio .container{
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/*-==================== GALLERY ====================*/

#gallery .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}
#gallery img {
    width: 100%;
    height: 220px;
}

#gallery img:hover {
    border: 5px solid violet
}

/*-==================== SERVICES ====================*/

.services__heading{
    width: 100%;
    justify-content: center;
    padding: 5em;
    
}

/*-==================== SERVICES CARDS ====================*/

.card{
    border: none;
    outline: none;
    -webkit-box-shadow:-8px 6px 89px -65px rgba(0,0,0,0.75);
    -moz-box-shadow:-8px 6px 89px -65px rgba(0,0,0,0.75);
    box-shadow:-8px 6px 89px -65px rgba(0,0,0,0.75);
    
}
.card p{
    color: gray;
}
.circle{
    height: 70px;
    width: 70px;
    background-color: #EFEDE9;
    color: black;
    padding: 12px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}

.card:hover .circle{
    background-color: darkorchid;
    color: white;
    transition: 0,5s;
}


/*-==================== CONTACT ====================*/

.contact__heading h2 {
    font-size: 2.5em;
    
}

.contact__heading {
    width: 100%;
    justify-content: center;
    padding: 5em;
    background-color: #EFEDE9;
}

.container__contac{

    display: flex;
    justify-content: center;
    padding: 1em;
    margin-bottom:0%;
    background-color: #EFEDE9;
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.contact__form h4 {
    padding: 10px;
    text-align: left;
}


.form {

    display: flex;
    flex-direction: column;
    width: 30vw;   
}

.form input {

    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    color: black;
}

.form textarea {

    height: 150px;
    background: none;
    color: black;
    padding: 3em;
    border: 1px solid black 
}

.btn__submit{

    padding: 10px 20px;
    margin: 1em;
    border: none;
    background-color: violet ;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: yellowgreen;
}
.btn__submit:hover {

    background-color: greenyellow;
    box-shadow: none
}


/*-==================== FOOTER ====================*/


.footer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: black;
    margin-top: 50vh;
}

.footer__content h2 {

    font-size: 1em;
    color: white;
    text-align: center;
}

.footer__content h5 {

    font-size: 1em;
    justify-content: left;
    color: white;
    
}

.social__network {

    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em; 
    color: white; 
    text-decoration: white;
}

.social__network i {
    color: lavender;
    text-decoration: none;
    size: 2px;

}

.social__network :hover{
    background-color:black;
    color: darkorchid;
}


/*-==================== RESPONSIVE (media queries) ====================*/

/*Desktop*/

@media screen and (max-width: 1024px) { 
    
    .wrapper{
        height: 60vw;
    }

    .main {
        margin: 0 auto;
        width: 80vw;
        height: 50vh;
    }

    h1 {
        font-size: 2em;
    }

    .about {
        height: 200vh;
        width: 100vw;
    }


    .about img{
        width:  350px;
        height: 350px;  
    }

    .portfolio .container{
        
        width: 80vw;
        height: 80vh;
        margin: 0 auto;
        display: flex;
        flex-wrap:wrap
    }


    .container__contac{
        padding: 1em;
        height: 70vh;
    }

    .contact__heading {

        font-size: 20px;
        padding: 2em;
    }

    .footer {

        width: 100vw;
        height: 150px;
        background-color: black;
    }
    
    
    .social__network :hover{
        background-color:black;
        color: darkorchid;
    }
}


/*Tablet*/

@media screen and (max-width: 768px) {

    .menu a {
        padding: 10px 10px; 
    }
    
    h1 {
        font-size: 1.5em;
    }
    
    .main {
        margin: 0 auto;
        width: 85vw;
        height: 50vh;
    }

    .main img {
        width:  250px;
        height: 250px;
    }

    .about img{
        width:  250px;
        height: 250px;
        margin-left: 50px;
    }
    
    
    .about-info h2 {
        font-size: 2em;
        color: black;
    }

    .portfolio {
        width: 100vw;
        height: 85vw;
        background-color: white;
        color: black;
    }

    .card {

        height: 300px;
        align-items: center;
        justify-content: center;
        
    }

    .contact__heading{
        padding: 4%; 
        font-size: 18px;  
        margin-left: 5%;
        
    }

    .container__contac{
        padding-top: 0px;
        align-content: center;
        height: 70vh;
    }

    .footer {
        width: 100vw;
        height: 150px;
        background-color: black;
    }


    .social__network :hover{
        background-color:black;
        color: darkorchid;
    }
    

}  
    

/*Mobile*/ 

@media screen and (max-width: 576px) {


    .menu {
        display: flex;
        width: 50%;
        justify-content:space-around;
        flex-wrap: wrap;
    }

    .menu .active {
        color: darkorchid;
        border-radius: 1%;
    }
    .main {
        margin: 0 auto;
        width: 85vw;
        height: 80vh;
        display: grid;
        grid-template-columns: (2, 1fr);
        align-items: center;
        
    }

    .wrapper {

    width: 100vw;
    height: 110vh;
    background-color: #EFEDE9;
    color: rgb(114, 104, 104);
}

    .portfolio {

    width: 100vw;
    height: 110vw;
    background-color: white;
    color: black;
}

    .about {

    height: 150vh;
    width: 100vw;
}

    .about img {

    margin-top: 20px;
}
    .about-info {
    grid-column: 1/5;
    padding: 6em;
}
    .about-info h2 {

    margin-top: 10px;
    font-size: 3em;
    color: black;
}

    .contact__heading{
        font-size: 18px;   
    }

    .container__contac{
        padding-top: 0px;
        align-content: center;
        height: 60vh;
    }

    .form {

        display: flex;
        flex-direction: column;
        width: 40vw;   
    }

    .contact__section{
        margin-top: 5px;
        padding-top: 0px;
    }

    .card{
        height: 300px;
        align-items: center;
        justify-content: center;
    }

}