/*-==================== FOOTER ====================*/

$white: #ffff;

.footer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: black;
    margin-top: 50vh;
    
    .footer__content h2 {

        font-size: 1em;
        color: $white;

        .footer__content h5 {

            font-size: 1em;
            justify-content: left;
            color: $white;
        }
    }
    
    .social__network {

        display: flex;
        justify-content: space-evenly;
        width: 300px;
        margin-top: 1em; 
        color: $white;   
    }
    
}
